name: Build PennyLane-Qrack Wheels

on:
  push:
    branches:
      - cpu-only  # Trigger on pushes to the main branch (adjust if needed)

  workflow_dispatch: # Allow manual triggering of the workflow


jobs:
  build_windows:
    runs-on: windows-latest  # Use a Linux runner
    strategy:
      matrix:
        platform:
          - win-amd64
        dependencies: [vcpkg]
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools

      - name: Build Wheel
        run: |
          pip install -r requirements.txt
          pip install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

