name: Build PennyLane-Qrack Wheels

on:
  push:
    branches:
      - cpu-only  # Trigger on pushes to the main branch (adjust if needed)

  workflow_dispatch: # Allow manual triggering of the workflow


jobs:
  build_noble:
    runs-on: ubuntu-24.04  # Use a Noble Numbat runner
    strategy:
      matrix:
        platform:
          - manylinux_2_39_x86_64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 0eaf6999746cf6c267a8ec271ef53ee24e6a65d4

      - name: Prepare Build Environment (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake python3-venv ninja-build libomp-dev

      - name: Install Python Dependencies
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools

      - name: Detect manylinux tag
        id: abi
        run: |
          GLIBC_VER=$(ldd --version | head -n1 | grep -oE '[0-9]+\.[0-9]+$')
          MAJOR=$(echo $GLIBC_VER | cut -d. -f1)
          MINOR=$(echo $GLIBC_VER | cut -d. -f2)
          PLATFORM_TAG="manylinux_${MAJOR}_${MINOR}_x86_64"
          echo "Detected platform: $PLATFORM_TAG"
          echo "platform=$PLATFORM_TAG" >> $GITHUB_OUTPUT

      - name: Build Wheel
        run: |
          source venv/bin/activate
          pip install -r requirements.txt
          pip uninstall -y pennylane
          cd catalyst
          pip install -r requirements.txt
          git submodule init
          git submodule update
          make all
          cd ..
          pip install .
          python setup.py bdist_wheel --plat-name=${{ steps.abi.outputs.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_jammy:
    runs-on: ubuntu-22.04  # Use a Jammy Jellyfish runner
    strategy:
      matrix:
        platform:
          - manylinux_2_35_x86_64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 0eaf6999746cf6c267a8ec271ef53ee24e6a65d4

      - name: Prepare Build Environment (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake python3-venv ninja-build libomp-dev

      - name: Install Python Dependencies
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools

      - name: Detect manylinux tag
        id: abi
        run: |
          GLIBC_VER=$(ldd --version | head -n1 | grep -oE '[0-9]+\.[0-9]+$')
          MAJOR=$(echo $GLIBC_VER | cut -d. -f1)
          MINOR=$(echo $GLIBC_VER | cut -d. -f2)
          PLATFORM_TAG="manylinux_${MAJOR}_${MINOR}_x86_64"
          echo "Detected platform: $PLATFORM_TAG"
          echo "platform=$PLATFORM_TAG" >> $GITHUB_OUTPUT

      - name: Build Wheel
        run: |
          source venv/bin/activate
          pip install -r requirements.txt
          pip uninstall -y pennylane
          cd catalyst
          pip install -r requirements.txt
          git submodule init
          git submodule update
          make all
          cd ..
          pip install .
          python setup.py bdist_wheel --plat-name=${{ steps.abi.outputs.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_windows:
    runs-on: windows-latest  # Use a Linux runner
    strategy:
      matrix:
        platform:
          - win-amd64
        dependencies: [vcpkg]
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools

      - name: Build Wheel
        run: |
          pip install -r requirements.txt
          pip install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

